<%- include('partials/header.ejs') %>

<%- include('admintop.ejs') %>

		<main>
<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Users</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<table>
						<thead>
							<tr>
								<th class="name">User</th>
								<th>Email</th>
								<th>Mobile No.</th>
							</tr>
						</thead><%  Details.forEach((data) => { %>
						<tbody>
							<tr>
								<td>
									
                                    <i class="fa-solid fa-user"></i>			<p class="name">    <%=data.name%></p>
								</td>
								<td><i class="fa-solid fa-envelope"></i></i><p> <%=data.email%></p></td>
								<td><i class="fa-solid fa-phone"></i><span><%=data.number%></span></td>
                                
							</tr>
							
						</tbody>
                        <% }); %></table>
					</table>
	

	<%- include('partials/footer.ejs') %>